{% capture description %}
  {%- if product.empty? -%}
    {{ 'home_page.onboarding.product_description' | t }}
  {%- else -%}
    <div data-station-tabs-app data-station-tabs-product="{{ product.handle }}">{{ product.description }}</div>
  {%- endif -%}
{% endcapture %}
{%- if is_tab -%}
  {% assign title = 'products.product.description' | t %}
  {%- render 'tab', id: id, title: title, content: description -%}
{%- else -%}
  <div class="rte">
    {{ description }}
  </div>
{%- endif -%}
