/***** Cart Drawer *****/  
#CartDrawer {
  .drawer__fixed-header {
    padding: 0 10px;

    @media only screen and (min-width:769px){
      padding: 0 25px;
    }
  }
  .drawer__scrollable {
    padding: 0 10px 20px;

    @media only screen and (min-width:769px){
      padding: 0 25px 25px;
    }
  }

  .drawer__footer {
    padding: 0 10px;

    @media only screen and (min-width:769px){
      padding: 25px;
    }
  }
  
  .cart__products {
    border: 1px solid var(--colorBorder);
    border-radius: var(--borderRadius);
  }

  .cart__item {
    padding: 10px 0;
    margin: 0 10px;
  }

  .cart__item-name {
    font-size: var(--typeBaseSizeSmall);
    line-height: 22px;
  }

  .cart__image {
    flex: 0 0 80px;
  }

  .cart__image--small {
    flex: 0 0 90px;
  }

  .cart__item--variants  span {
    font-weight: 700;
  }
  
  .cart__item-price-col {
    display: flex;
    align-items: center;
  }
  
  .cart__item-sub .cart__price .money {
    font-size: var(--typeBaseSizeSmall);
    font-weight: var(--typeHeaderWeight);
  }
  
  .cart__item-sub > div {
    font-weight: var(--typeHeaderWeight);
  }
  
  .js-qty__adjust--minus:hover {
    border-radius: var(--buttonBorderRadius) 0 0 var(--buttonBorderRadius);
    overflow: hidden;
  }
  
  .js-qty__adjust--plus:hover {
    border-radius: 0 var(--buttonBorderRadius) var(--buttonBorderRadius) 0;
    overflow: hidden;
  }
  
  .cart-gift-message {
    margin-top: 15px;
  }
  
  .cart-notes {
    border-radius: var(--borderRadius);
  }

  .cart__gift-message {
    text-transform: none;
    display: inline-block;
    border-bottom: 2px solid transparent;
    transition: all 0.5s;

    &:hover {
      border-bottom: 2px solid var(--colorHeader);
    }
  }
  .cart-notes {
    opacity: 1;
    transition: all 1s;
  }

  .cart-notes.hide {
    opacity: 0;
  }

  .cart-gift-message label,
  .ajaxcart__subtotal {
    font-size: 1em;
    letter-spacing: 0;
    font-weight: var(--typeHeaderWeight);
    margin: 0;
  }

  .ajaxcart__subtotal {
    text-transform: capitalize;
  }
  .drawer__footer {
    padding: 25px;
  }
  .cart__checkout-wrapper button {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .cart__checkout-wrapper img {
    margin-right: 7px;
    margin-top: -2px;
  }

  .cart__discounts > div,
  .cart__discount {
    font-size: var(--typeBaseSizeSmall);
    font-weight: var(--typeBaseWeight);
  }
}
  
  