.collection-content {
  padding-top: 25px;
  padding-bottom: 75px;
}

/***** PROMOTION BAR *****/
#shopify-section-collection-promotions p {
  line-height: 1.6;
}

/***** FILTERS *****/
// .tag-list a {
//   font-size: max(calc(var(--typeBaseSize) - 2px), 14px);
// }
.tag--active>a {
  font-weight: 700;
}
  
@media only screen and (max-width:768px) {
  .collection-filter{
    background-color: #fff;
    padding-top: 15px;
  }
}

.collection-sidebar__group .color-swatch:before {
  border-color: transparent;
}

// #CollectionSidebar-2 {
//   font-size: max(calc(var(--typeBaseSize) - 2px), 14px);
// }

.collection-filter {
  position: relative;
  top: 0 !important;
}

/***** COLLECTION DESCRIPTION *****/
.collection-description {
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
}

.collection-description h3 {
  font-size: 20px;

  @media only screen and (min-width:769px) {
    font-size: 24px;
  }
}

.read-more-button-container {
  background: linear-gradient(to bottom, rgba(255,255,255,0.2) 0%, rgba(255,255,255,0.4) 7%, rgba(255,255,255,0.6) 20%, rgba(255,255,255,0.8) 45%, #fff 70%);
  height: 60px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.collection-description-closed {
  max-height: 100px;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
}

.collection-description-closed.open {
  max-height: 1500px;
  padding-bottom: 45px;
}

.collection-description p {
  margin-bottom: 10px;
}

.collection-description .btn {
  background-color: #fff;
}

.promo-grid__container--tint:before {
  border-radius: var(--borderRadius);
}
 
/***** SUB COLLECTIONS *****/
.subcollections-wrapper .grid__item {
  width: auto;
  clear: none;
  padding: 0;
}

.subcollections-wrapper .image-wrap {
  display: none;
}

.subcollections-wrapper .collection-item {
  margin-bottom: 0;
  border: 1px solid var(--colorBorder);
  border-radius: 50px;
  margin-right: 10px;
  transition: all .5s;
}

.subcollections-wrapper .collection-item:hover {
  border: 1px solid var(--colorTextBody);
}

.subcollections-wrapper .collection-item .collection-item__title {
  margin-top: 0;
  font-size: var(--typeBaseSize);
}

.subcollections-wrapper .collection-item--overlaid-box::after {
  background-color: transparent;
}

.subcollections-wrapper .collection-item--overlaid-box .image-wrap .collection-image {
  display: none;
}

.subcollections-wrapper .collection-item--overlaid-box .collection-item__title {
  position: relative;
  transform: none;
  top: 0;
  left: 0;
  right: 0;
}

.sub-collection-overlay {
  position: relative;
  height: 44px;
  margin-bottom: 25px;
  display: flex;
  justify-content: center;
}

@media only screen and (min-width:769px) {
  .sub-collection-overlay {
    height: 44px;
  }
}
.sub-collection-overlay:after {
  position: absolute;
  background: rgb(255,255,255);
  background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.7) 20%, rgba(255,255,255,0.9) 60%, rgba(255,255,255,1) 100%);
  right: 0;
  top: 0;
  width: 40px;
  height: 45px;
  z-index: 10;
  pointer-events: none;
  content: "";
}

/***** Hide scrollbar for Chrome, Safari and Opera *****/
.sub-collections::-webkit-scrollbar {
  display: none;
}

/***** Hide scrollbar for IE, Edge and Firefox *****/
.sub-collections {
  -ms-overflow-style: none;
  scrollbar-width: none; 
}

.sub-collections {
  display: flex;
  flex-wrap: nowrap;
  overflow: auto;
  max-width: 100%;
  height: 50px;
}

@media only screen and (min-width:769px) {
  .sub-collections {
    justify-content: flex-start;
  }
}

.sub-collections .grid__item:last-of-type {
  padding-right: 25px;
}

.sub-collections .collection-item__title span {
  white-space: nowrap;
  border-radius: 50px;
}

/***** QUICK VIEW *****/
.modal--quick-shop .product-single__sticky {
  top: 0;
}

.modal--quick-shop .station-tabs-wrapper {
  display: none;
}

.modal--quick-shop [data-station-tabs-app],
.modal--quick-shop .product-favourite-features { 
  display: none;
}

.modal--square .modal__inner {
  border-radius: var(--borderRadius);
}

/***** COLLECTION GRID *****/
.grid-product__content {
  border: 1px solid var(--colorBorder);
  border-radius: var(--borderRadius);
}

.product-sold-out {
  opacity: 0.5;
}

.grid-product__meta {
  padding: 10px;
  line-height: 1.6;
}

.grid-product__vendor {
  letter-spacing: 0.1em;
  margin-bottom: 10px;
  opacity: 1;
  font-weight: var(--typeHeaderWeight);
}

.grid-product__title {
  min-height: 57px;
  word-break: normal;
  -webkit-hyphens: none;
  font-size: 12px;
}

@media only screen and (min-width:769px) {
  .grid-product__title {
    min-height: 48px;
  }
}

.product-grid-swatches-container {
  margin-top: 10px;
  min-height: 23px;
}

.color-swatch--small {
  width: 19px;
  height: 19px;
}

// [data-swatch_style=round] .color-swatch--small:before {
//   border-width: 2px;
//   border-color: transparent;
// }

.grid-product__price .grid-product__link {
  margin-right: 5px;
  font-weight: 700;
  height: 26px;
  display: flex;
  align-items: center;
  margin-top: 3px;
}

.grid-product__image-mask {
  border-radius: 0;
}

.grid-product__link {
  .image-wrap {
    border-radius: var(--borderRadius) var(--borderRadius) 0 0;
    overflow: hidden;
  }
  img {
  border-radius: 0;
  }
}

.grid-product__price {
  display: flex;
  align-items: center;
  font-size: 12px;
}

.grid-product__price .money {
  font-size: 12px;
}

@media only screen and (max-width:768px){
  .grid-product__meta,
  .grid-product__price {
    font-size: var(--typeBaseSizeSmall);
  }
}

@media only screen and (min-width:769px){
  .grid-product__price .grid-product__link {
    margin-right: 10px;
  }
}

.color-swatch.color-swatch--small {
  border: none;
  box-shadow: none;
  width: 15px;
  height: 15px;
}

.grid-product__colors .color-swatch {
  border: none;
  box-shadow: none;
  transition: none;
  margin: 0 2px 4px;

  &:hover {
    box-shadow: none;
    border: none;
  }
}

[data-swatch_style=round] .color-swatch--small:before {
  display: none;
}

/***** CUSTOM TAGS *****/
.grid-product__tag {
  top: 10px;
  left: 10px;
  right: unset;
  border-radius: 5px;
  font-size: var(--typeBaseSizeSmall);
  background-color: #fff;
  color: var(--colorTextBody);
  font-weight: var(--typeHeaderWeight);
}

/***** PAGINATION *****/
.pagination .next,
.pagination .prev {
  border-radius: var(--buttonRadius); 
}