
/*************************************************************************
**********************************************************************
**********************************************************************

PAGE: PRODUCT PAGE

**********************************************************************
**********************************************************************
*************************************************************************/

@media only screen and (max-width: 768px) {
    .product-single__meta {
      text-align: left;
      margin-top: 0;
    }
  }
  
  #shopify-section-product-template .page-content--product {
    padding-bottom: 25px;
  }
  
  #shopify-section-product-story-sections img {
    border-radius: 0;
  }
  
  /***** MAIN IMAGE *****/
  .slick-active .product-image-main  {
    position: relative;
  }
  @media only screen and (max-width:768px){
    .product__photos .image-wrap,
    .product__photos img {
      border-radius: 0;
    }
  }
  
  @media only screen and (min-width:769px){
    .product-single__sticky{
      position:-webkit-sticky;
      position:sticky;
      top:100px
    }
    .sticky-header .product-single__sticky{
        top:180px
    }
  
    .modal--quick-shop .product-single__sticky{
      top:0;
    }
  }
  
  .product__thumb-item a.is-active:before, .product__thumb-item a:focus:before {
    border-radius: var(--borderRadius);
  }
  
  .flickity-page-dots {
    bottom: 10px;
  }
  
  .product__photo-zoom {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    height: 50px;
    width: 50px;
    border: none;
    border-radius: var(--borderRadius);
  }
  
  /***** TAXES *****/
  .product-single__meta .product__policies {
    display: none;
  }
  
  /***** PRODUCT INFO *****/
  .product-single__title {
    margin-bottom: 20px;
  }
  
  .product-single__vendor {
    font-size: var(--typeBaseSize);
    letter-spacing: 0;
    text-transform: capitalize;
    white-space: nowrap;
  }
  
  .product-single__vendor a {
    text-transform: capitalize;
    font-weight: 700;
    letter-spacing: var(--typeBaseSpacing);
    line-height: var(--typeBaseLineHeight);
  }
  
  .price-stars-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  @media only screen and (min-width:769px){
    .product-single__meta {
      padding-left: 15px;
    }
  }
  
  .product-single__meta .product__price {
    display: flex;
    font-weight: 700;
    font-size: calc(var(--typeBaseSize) * 1.2);
    color: var(--colorHeader);
    vertical-align: text-bottom;
    margin-bottom: -4px;
    margin-right: 15px;
  }
  
  /***** SHORT DESCRIPTION *****/
  .product-short-description {
    margin: 10px 0 25px;
  }
  
  /***** VARIANT DROPDOWN *****/
  .variant-wrapper {
    margin-bottom: -25px;
  }

  .variant-wrapper--dropdown,
  .variant-wrapper--dropdown select {
    width: 100%;
  }
  
  .variant-input-wrap {
    margin-bottom: 10px;
  }
  
  /***** SWATCHES *****/
  .variant-wrapper,
  .variant__label  {
    text-align: left;
  }
  
  .variant-input-wrap select,
  .product__quantity input {
    height: 50px;
  }
  
  @media only screen and (min-width:769px){
    .variant-input-wrap select,
    .product__quantity input {
      height: 60px;
    }
  }
  
  .variant-input-wrap label.color-swatch {
    padding: 6px;
    height: 30px;
    width: 30px;
  }
  
  .variant-input label {
    border-radius: var(--buttonRadius);
  }
  
  .variant-input-wrap label.color-swatch:before {
    border-color: transparent;
  }
  
  .variant-input-wrap input[type=radio]:checked+label {
    box-shadow: 0 0 0px 1px black;
  }
  
  .variant-input-wrap input[type=radio]:checked+label.color-swatch:before {
    border-color: white;
  }
  
  /***** Product Form *****/
  .product-single__form {
    margin-bottom: 15px;
  }
  
  .quantity-add-to-cart-wrapper {
    display: flex;
  }
  
  .quantity-add-to-cart-wrapper label {
    display: none;
  }
  
  .product__quantity {
    margin-right: 15px;
    margin-bottom: 0; 
  }
  
  .quantity-add-to-cart-wrapper input {
    width: 100px;
  }
  
  /***** ESTIMATED DELIVERY + REWARD POINTS *****/
  .delivery-wrapper  {
    margin: 15px 0;
  }
  
  @media only screen and (min-width:769px){
    .delivery-wrapper  {
      padding: 14px;
    }
  }
  
  .delivery-wrapper p {
    margin-bottom: 0;
  }
  
  .delivery-wrapper > div {
    display: flex;
    align-items: flex-start;
    text-align: left;
  }
  
  .delivery-wrapper > div:first-of-type {
    margin-bottom: 15px;
  }
  
  .delivery-wrapper a {
    font-weight: 600 !important;
    font-size: var(--typeBaseSize);
    margin-left: 3px;
  }
  
  .delivery-wrapper img {
    width: 30px; 
    height: 30px;
    margin-right: 10px;
    border-radius: 0;
    margin-top: -5px;
  }
  
  .delivery-wrapper .h3 {
    font-size: 1rem;
    margin-bottom: 10px;
  }
  
  .delivery-wrapper .deliverydate, 
  .delivery-wrapper small {
    margin: 0 !important;
    padding: 0 !important;
    background-color: transparent !important;
    border: none !important;
    font-size: 12px;
    line-height: 20px;
    font-weight: 300 !important;
    color: var(--colorTextBody) !important;
  }
  
  /***** BACK IN STOCK NOTIFICATION *****/
  #esc-out-of-stock-inputs {
    background-color: var(--colorLightBlue);
    border-radius: var(--borderRadius) !important;
    border: none !important;
    margin-bottom: 15px !important;
  }
  
  #esc-out-of-stock-inputs .esc-out-of-stock-title {
    display: none;
  }
  
  #esc-out-of-stock-inputs .esc-out-of-stock-subtitle {
    color: var(--colorTextBody);
    font-weight: 700;
    text-align: left;
  }
  
  #esc-out-of-stock-inputs .esc-email-input {
    border-radius: var(--borderRadius) !important;
    margin-right: 15px;
  }
  
  @media only screen and (min-width: 389px) {
    #esc-out-of-stock-inputs .esc-email-input {
      width: calc(70% - 15px) !important;
    }
  }
  
  #esc-out-of-stock-inputs .esc-btn {
    border-radius: var(--borderRadius) !important;
    background-color: var(--colorYellow) !important;
    color: var(--colorTextBody) !important;
    font-weight: 700;
    letter-spacing: .04em;
  }
  
  #esc-out-of-stock-inputs .esc-notification {
    color: var(--colorTextBody) !important;
    padding-left: 0 !important;
  }
  
  
  
  
  /***** YOU MAY ALSO LIKE / RECENTLY VIEWED *****/
  .grid-overflow-wrapper .grid-product__price,.grid-overflow-wrapper .grid__item{
    font-size: var(--typeBaseSize);
  }
  @media only screen and (max-width: 768px) {
    #shopify-section-product-recommendations .section-header__title,
    #shopify-section-recently-viewed .section-header__title {
      /* font-size: calc(var(--typeHeaderSize)*0.73); */
    }
  .grid-overflow-wrapper .grid__item {
    width: 65vw;
    flex: 0 0 65vw;
    /* font-size: 1rem; */
  }
  
  /***** Hide scrollbar for Chrome, Safari and Opera *****/
  .grid-overflow-wrapper::-webkit-scrollbar {
    display: none;
  }
  
  /***** Hide scrollbar for IE, Edge and Firefox *****/
  .grid-overflow-wrapper {
    -ms-overflow-style: none;
    scrollbar-width: none; 
    }
  }
  
  @media only screen and (min-width: 769px) {
    #shopify-section-product-recommendations .section-header__title,
    #shopify-section-recently-viewed .section-header__title {
      font-size: calc(var(--typeHeaderSize)*0.85);
    }
  }