
/***** The Ideal Sunday - Full Image with Text *****/
.the-ideal-sunday-full-image-with-text .feature-row {
  margin: 0;
  align-items: initial; 
}

.the-ideal-sunday-full-image-with-text .feature-row .feature-row__text {
  text-align: left;
  padding: 60px 17px;
}

.the-ideal-sunday-full-image-with-text .feature-row .feature-row__image-container {
  position: relative;
  min-height: 300px;
}

.the-ideal-sunday-full-image-with-text .feature-row img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0;
}

.the-ideal-sunday-full-image-with-text .feature-row .feature-row__text .h3:first-of-type {
  margin-bottom: 55px;
}

.the-ideal-sunday-full-image-with-text .feature-row .feature-row__text .h3:last-of-type {
  font-size: calc(var(--typeHeaderSize)*0.4);
  margin-bottom: 30px;
}

.the-ideal-sunday-full-image-with-text .feature-row .feature-row__text .featured-row__subtext {
  margin-bottom: 20px;
}

@media only screen and (min-width:769px){
  .the-ideal-sunday-full-image-with-text .feature-row .feature-row__image-container {
    min-width: 60%;
  }

  .the-ideal-sunday-full-image-with-text .feature-row .feature-row__text {
    display: flex;
    align-items: center;
    min-width: 40%;
    padding: 100px;
  }

  .the-ideal-sunday-full-image-with-text .feature-row .feature-row__text .h2 {
    margin-bottom: 50px;
    max-width: 450px;
  }

  .the-ideal-sunday-full-image-with-text .feature-row .feature-row__text .featured-row__subtext {
    margin-bottom: 30px;
    max-width: 450px;
  }
}
