

.featured-collection-slider {

    .grid__item {
        width: 65vw;
    }
    @media only screen and (min-width: 769px) {
        .grid__item {
            width: 27vw;
        }
    }

    @media only screen and (min-width: 1441px) {
        .featured-collection__item-inner {
            width: 25%;
        }
        .grid__item {
            width: 100%;
        }
    }
    
}

.featured-collection__item-inner:last-of-type {
    padding-right: 17px;

    @media only screen and (min-width: 769px) {
        padding-right: 40px;
    }
}