/***** STATION TABS *****/
.station-tabs-wrapper {
    padding: 25px 0;
  }
  
  @media only screen and (min-width:769px){ 
    .station-tabs-wrapper {
      padding: 75px 0 25px;
    }
  }
  
  .product-single__description-full {
    max-width: 760px;
    margin: 0 auto;
  }
  #station-tabs-0 {
    margin: 0 -17px;
  }
  
  @media only screen and (min-width:769px){ 
    #station-tabs-0 {
      overflow: hidden;
      margin: 0 auto;
    }
  }
  /***** Product Description - Read More *****/
  .product-read-more {
    position: absolute;
    left: 20px;
    bottom: 20px;
    font-weight: 700;
    cursor: pointer;
  }
  
  @media only screen and (min-width:769px){ 
    .product-read-more {
      left: 0px;
    }
  }
  
  #st-product-description_0-0 {
    max-height: 300px;
    position: relative;
    transition: all 0.5s ease-in-out;
  }
  
  #st-product-description_0-0 .station-tabs-content-inner {
    padding-bottom: 70px !important;
  }
  
  #st-product-description_0-0:after {
    content: '';
    background: linear-gradient(to bottom, rgba(255, 255, 255,0.2) 0%, rgba(255, 255, 255,0.4) 7%, rgba(255, 255, 255,0.6) 20%, rgba(255, 255, 255,0.8) 45%, rgba(255, 255, 255) 70%);
    height: 80px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  
  #st-product-description_0-0.open {
    max-height: 1500px;
  }
  
  @media only screen and (min-width:769px){ 
    .station-tabs-wrapper .station-tabs.mod-full-width .station-tabs-link,
    .station-tabs-wrapper .station-tabs.mod-full-width .station-tabs-content-inner {
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
  }
  
  .station-tabs.mod-full-width .station-tabs-link:after {
    border: none !important;
    font-size: 25px !important;
  }
  
  .product-single__meta .station-tabs.mod-full-width .station-tabs-link.is-active,
  .product-single__meta .station-tabs.mod-full-width .station-tabs-link.is-active:hover,
  .product-single__meta .station-tabs.mod-full-width .station-tabs-link.is-active:after,
  .product-single__meta .station-tabs.mod-full-width .station-tabs-link,
  .product-single__meta .station-tabs.mod-full-width .station-tabs-link:hover {
    color: var(--colorHeader) !important;
  }
  
  @media only screen and (max-width:768px){ 
    .product-single__meta .station-tabs.mod-full-width .station-tabs-link:after {
      margin-right: 17px;
    }
  
    .product-single__meta .station-tabs.mod-full-width .station-tabs-content-inner  {
      padding: 10px 15px 20px !important;
    }
  }
  
  .station-tabs-link span {
    font-weight: 700;
    font-size: 1.1rem;
    color: var(--colorHeader);
    text-transform: capitalize;
    letter-spacing: var(--typeHeaderSpacing);
  }
  
  .product-single__description-full .station-tabs .station-tabs-content-inner ul li,
  .product-single__meta .station-tabs .station-tabs-content-inner ul li  {
    list-style: none !important;
    }
  
  .product-single__description-full .station-tabs .station-tabs-content-inner ul,
  .product-single__description-full .station-tabs .station-tabs-content-inner ol,
  .product-single__meta .station-tabs .station-tabs-content-inner ul,
  .product-single__meta .station-tabs .station-tabs-content-inner ol {
      margin-left: 20px !important;
    }
    
  .station-tabs-content-inner ul,
  .station-tabs-content-inner li {
    margin-left: 0;
    position: relative;
    text-align: left;
  }
  
  .station-tabs-content-inner li {  
    margin-bottom: 0;
  }
  
  .station-tabs-content-inner ul li:before {
    content: '•';
    font-size: 12px;
    position: absolute;
    left: -15px;
    top: 3px;
  }
  
  .station-tabs.mod-full-width .station-tabs-link:last-of-type.is-active {
    border-bottom: 0 !important;
  }